<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="head">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SportClub</a>
        <!--<li class="nav-item" style="margin-left: 30px;"></li>-->
        <a th:unless="${#authorization.expression('hasAuthority(''COACH'')||hasAuthority(''ADMIN'')||hasAuthority(''OWNER'')')}" id="all_complexes" class="nav-link" href="/all_complexes" style="color: white">All complexes</a>
        <a id="timetable" class="nav-link" href="/timetable" style="color: white">Timetable</a>
        <a th:unless="${#authorization.expression('hasAuthority(''COACH'')||hasAuthority(''ADMIN'')||hasAuthority(''OWNER'')')}" id="buy_abonement" class="nav-link" href="/buy_abonement" style="color: white">Buy abonement</a>

        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" id="edit_complex" class="nav-link" href="/edit_complex" style="color: white">Edit complex</a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" id="coaches" class="nav-link" href="/coaches" style="color: white">Coaches</a>

        <form class="form-inline">
            <a class="nav-link" href="/login" th:unless="${#authorization.expression('isAuthenticated()')}">Login</a>
            <a class="nav-link" href="/signin" th:unless="${#authorization.expression('isAuthenticated()')}">Sign in</a>
            <a class="nav-link" href="/logout" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a>
        </form>
    </nav>
</div>
</body>
</html>