<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="head">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">SportClub</a>
        <!--<li class="nav-item" style="margin-left: 30px;"></li>-->
        <a th:unless="${#authorization.expression('hasAuthority(''COACH'')||hasAuthority(''ADMIN'')||hasAuthority(''OWNER'')')}" id="all_complexes" class="nav-link" href="/all_complexes" style="color: white">All complexes</a>
        <a th:unless="${#authorization.expression('hasAuthority(''OWNER'')')}" id="timetable" class="nav-link" href="/timetable" style="color: white">Timetable</a>
        <a th:unless="${#authorization.expression('hasAuthority(''COACH'')||hasAuthority(''ADMIN'')||hasAuthority(''OWNER'')')}" id="buy_abonement" class="nav-link" href="/buy_abonement" style="color: white">Buy abonement</a>

        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" id="edit_complex" class="nav-link" href="/edit_complex" style="color: white">Edit complex</a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')||hasAuthority(''OWNER'')')}" id="coaches" class="nav-link" href="/coaches" style="color: white">Coaches</a>

        <a th:if="${#authorization.expression('hasAuthority(''OWNER'')')}" id="admins" class="nav-link" href="/admins" style="color: white">Admins</a>

        <a th:if="${#authorization.expression('hasAuthority(''OWNER'')')}" id="complexes" class="nav-link" href="/complexes_info" style="color: white">Complexes info</a>
        <!--<a th:if="${#authorization.expression('hasAuthority(''OWNER'')')}" id="gen_code" class="nav-link" href="/generate_code" style="color: white">Generate registration code</a>-->

        <a th:if="${#authorization.expression('hasAuthority(''OWNER'')||hasAuthority(''ADMIN'')')}" id="avail_code" class="nav-link" href="/available_codes" style="color: white">Show all available codes</a>

        <a th:if="${#authorization.expression('isAuthenticated()')}" id="settings" class="nav-link" href="/settings" style="color: white">Other info</a>

        <form class="form-inline">
            <a class="nav-link" href="/login" th:unless="${#authorization.expression('isAuthenticated()')}">Login</a>
            <a class="nav-link" href="/signup" th:unless="${#authorization.expression('isAuthenticated()')}">Sign up</a>
            <a class="nav-link" href="/logout" th:if="${#authorization.expression('isAuthenticated()')}">Logout</a>
        </form>
    </nav>
</div>
</body>
</html>