<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>


<div class="info_container" id="info_container">
    <div th:each="el: ${complexes}">
        <h2 th:text="${el.name}"></h2>
        <p th:text="${el.description}"></p>
        <p th:text="'City: ' + ${el.city}"></p>
        <p th:unless="${el.open_date}==null" th:text="'Opened ' + ${#dates.format(el.open_date, 'dd-MM-yyyy')}"></p>
    </div>

</div>

</body>
