<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

    <div class="col1" style="width:40%">
        <form id="form">
            <h2>Buy abonement</h2>
            <p>Type : </p>
            <select id='select_type' name='select_type' onchange="recalculatePrice()">
                <div th:each="el: ${types}">
                    <option th:value="${el.id}" th:text="${el.name}"></option>
                </div>
            </select>
            <p>Duration : </p>
            <select id='select_duration' name='select_duration' onchange="recalculatePrice()">
                <option value="1">1 month</option>
                <option value="6">6 months</option>
                <option value="12">1 year</option>
            </select>
            <p>Complex : </p>
            <select id='select_complex' name='select_complex'>
                <div th:each="el: ${complexes}">
                    <option th:value="${el.id}" th:text="${el.name}"></option>
                </div>
            </select>
            <p th:unless="${#authorization.expression('isAuthenticated()')}">Phone number : </p>
            <input type="tel" placeholder="Phone number" name="phone" th:unless="${#authorization.expression('isAuthenticated()')}">
            <h3 id="price">Price: </h3>
            <button class="form_btn btn btn-success" type="submit">Buy</button>

        </form>
    </div>
    <div class="col2" style="width: 45%" th:if="${#authorization.expression('isAuthenticated()')}">
        <h2>Add existing abonement to this account</h2>
        <form id="form_existing">
            <p>Abonement number : </p>
            <input type="number" placeholder="Abonement number" name="number">
            <button class="form_btn btn btn-success" type="submit">Add</button>

        </form>

    </div>

<script>

    function recalculatePrice(){
        var data = {
            type: $(this).find('[name=select_type]').val()
            , duration: $(this).find('[name=select_duration]').val()
        };

        $.ajax({
            type: 'GET',
            url: '/get_abonement_price_by_type_and_duration',
            dataType: 'json',
            data: data,

            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function (response) {
                document.getElementById('price').innerText="Price: "+response;
            },
            error: function (err) {
                console.log(err);
            }
        });

    }
    $(function () {

        $('#form').submit(function (e) {
            e.preventDefault();


            var data = {
                type: $(this).find('[name=select_type]').val()
                , duration: $(this).find('[name=select_duration]').val()
                , complex: $(this).find('[name=select_complex]').val()
                , phone: $(this).find('[name=phone]').val()
            };
                $.ajax({
                    type: 'POST',
                    url: '/add_abonement',
                    dataType: 'json',
                    data: JSON.stringify(data),

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Content-Type', 'application/json')
                    },
                    success: function (response) {
                        alert("Success");

                    },
                    error: function (request, textStatus, errorThrown) {
                        alert(request.getResponseHeader('error'));
                    }
                });
            });

        $('#form_existing').submit(function (e) {
            e.preventDefault();

            var data = {
                id: $(this).find('[name=number]').val()
            };
            $.ajax({
                type: 'POST',
                url: '/add_existing_abonement',
                dataType: 'json',
                data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    alert("Success");

                },
                error: function (request, textStatus, errorThrown) {
                    alert(request.getResponseHeader('error'));
                }
            });
        });


    });
</script>




</body>
