<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

<div class="info_container">

    <form id="form">
        <h2>Buy abonement</h2>
        <p>Type : </p>
        <select id='select_type' name='select_type'></select>
        <p>Duration : </p>
        <select id='select_duration' name='select_duration'>
            <option value="month">1 month</option>
            <option value="6_months">6 months</option>
            <option value="year">1 year</option>
        </select>
        <p>Complex : </p>
        <select id='select_complex' name='select_complex'></select>
        <p th:unless="${#authorization.expression('isAuthenticated()')}">Phone number : </p>
        <input type="tel" placeholder="Phone number" name="phone" th:unless="${#authorization.expression('isAuthenticated()')}">
        <button class="form_btn btn btn-success" type="submit">Buy</button>

    </form>
</div>


<script>
    $(function () {

        $.ajax({
            url: '/get_all_types_short',
            type: "get",
            success: function (response) {

                document.getElementById("select_type").innerHTML = '';
                response.forEach(function (el) {
                    document.getElementById("select_type").innerHTML += '<option value="' + el.id + '">' + el.name + '</option>';
                });
            },
            error: function (err) {
                console.log(err);
            }
        });

        $.ajax({
            url: '/get_all_complexes_short',
            type: "get",
            success: function (response) {

                document.getElementById("select_complex").innerHTML = '';
                response.forEach(function (el) {
                    document.getElementById("select_complex").innerHTML += '<option value="' + el.id + '">' + el.name + '</option>';
                });
            },
            error: function (err) {
                console.log(err);
            }
        });


        $('#form').submit(function (e) {
            e.preventDefault();


            var data = {
                type: $(this).find('[name=select_type]').val()
                , duration: $(this).find('[name=select_duration]').val()
                , complex: $(this).find('[name=select_complex]').val()
                , phone: $(this).find('[name=phone]').val()
            };
            // console.log(data);

                $.ajax({
                    type: 'POST',
                    url: '/add_abonement',
                    dataType: 'json',
                    data: JSON.stringify(data),

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Content-Type', 'application/json')
                    },
                    success: function (response) {
                        alert("Success");

                    },
                    error: function (request, textStatus, errorThrown) {
                        alert(request.getResponseHeader('error'));
                    }
                });
            });


    });
</script>




</body>
