<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

<div class="info_container">
    <h2 class="main_h2">Personal trainings</h2>
</div>

<div class="my-group-main btn-group btn-group-justified">
    <a th:if="${#authorization.expression('hasAuthority(''CLIENT'')')}" href="/book_personal" class="btn btn-warning">Book personal training</a>
    <a th:if="${#authorization.expression('hasAuthority(''CLIENT'')')}" href="/show_personal" class="btn btn-warning">Show personal trainings</a>

    <a th:if="${#authorization.expression('hasAuthority(''COACH'')')}" href="/show_personal_coach" class="btn btn-warning">Show personal trainings</a>

    <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" href="/add_schedule_group" class="btn btn-warning">Add group training</a>

</div>

<br>

<div class="info_container">
    <h2 class="main_h2">Timetable</h2>
</div>

    <div class="my-group-main btn-group btn-group-justified">
        <a onclick="getTimetable(0)" class="btn btn-warning">MONDAY</a>
        <a onclick="getTimetable(1)" class="btn btn-warning">TUESDAY</a>
        <a onclick="getTimetable(2)" class="btn btn-warning">WEDNESDAY</a>
        <a onclick="getTimetable(3)" class="btn btn-warning">TUESDAY</a>
    </div>
    <div class="my-group-main-2 btn-group btn-group-justified">
        <a onclick="getTimetable(4)" class="btn btn-warning">FRIDAY</a>
        <a onclick="getTimetable(5)" class="btn btn-warning">SATURDAY</a>
        <a onclick="getTimetable(6)" class="btn btn-warning">SUNDAY</a>
    </div>

<div th:if="${#authorization.expression('hasAuthority(''COACH'')')}" id="is_coach"></div>
<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" id="is_admin"></div>

<div th:each="trainings_day,iter : ${trainings}" class="info_container" th:id="'info_container_'+${iter.index}" style="display: none">
    <div th:each="el : ${trainings_day}">
        <div class="group_training">
            <h3 th:text="${#temporals.format(el.time, 'HH:mm')}"></h3>
            <h2 th:text="${el.name}"></h2>
            <p th:unless="${#authorization.expression('hasAuthority(''COACH'')')}" th:text="'Coach: '+${el.coach.name}+' '+${el.coach.surname}"></p>
            <p th:if="${el.for_vip}">(Only for VIP abonements)</p>
            <button th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="form_btn form_btn_first btn btn-success edit_button" type="submit" th:value="${el.id}">Edit</button>
            <button th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="form_btn form_btn_first btn btn-danger remove_button" type="submit" th:value="${el.id}">Remove</button>
        </div>
    </div>
    <br>
    <h3 th:if="${#lists.size(trainings_day)}==0">No trainings this day</h3>

</div>

<script>


    function getTimetable(t){
        document.querySelectorAll('.info_container').forEach(function(el) {
            el.style.display='none';
        });

        document.getElementById('info_container_'+t).style.display='block';
    }
    $(function () {
         getTimetable(0);

        $(document).on("click",".remove_button",function(e) {
            var id = e.target.value;
            var data = {
                id : id
            };
            console.log(id);
            $.ajax({
                url: '/remove_schedule_group',
                type: "post",
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (response) {
                    e.target.parentNode.remove();

                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                error: function (request, textStatus, errorThrown) {
                    alert(request.getResponseHeader('error'));
                }
            });

        });

        $(document).on("click",".edit_button",function(e) {
            var id = e.target.value;
            console.log(id);
            window.location.href = "edit_schedule_group?id="+id;
        });

    })
</script>



</body>
