<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

<div class="info_container">
    <h2 class="main_h2">Personal trainings</h2>
</div>

<div class="my-group-main btn-group btn-group-justified">
    <!--th:if="${#authorization.expression('hasAuthority(''CLIENT'')')}"> todo-->
    <a href="/book_personal" class="btn btn-warning">Book personal training</a>
    <a href="/show_personal" class="btn btn-warning">Show personal trainings</a>
</div>

<br>

<div class="info_container">
    <h2 class="main_h2">Timetable</h2>
</div>

    <div class="my-group-main btn-group btn-group-justified">
        <a onclick="getTimetable(this.innerText)" class="btn btn-warning">MONDAY</a>
        <a onclick="getTimetable(this.innerText)" class="btn btn-warning">TUESDAY</a>
        <a onclick="getTimetable(this.innerText)" class="btn btn-warning">WEDNESDAY</a>
        <a onclick="getTimetable(this.innerText)" class="btn btn-warning">TUESDAY</a>
    </div>
    <div class="my-group-main-2 btn-group btn-group-justified">
        <a onclick="getTimetable(this.innerText)" class="btn btn-warning">FRIDAY</a>
        <a onclick="getTimetable(this.innerText)" class="btn btn-warning">SATURDAY</a>
        <a onclick="getTimetable(this.innerText)" class="btn btn-warning">SUNDAY</a>
    </div>

<div th:if="${#authorization.expression('hasAuthority(''COACH'')')}" id="is_coach"></div>


<a th:if="${#authorization.expression('hasAuthority(''COACH'')')}"  href="/all_checks_with_all_promo_products_from_category" class="btn btn-warning">Get all checks with all promo products from category</a>



<div class="info_container" id="info_container">

</div>


<script>


    function formTableRow(el, is_coach){
        var time = el.time.substring(0, 5);
        var ans = '<div class="group_training">' +
            '<h3>'+time+'</h3>' +
            '<h2>'+el.name+'</h2>';
        if(!is_coach) ans+='<p>Coach: '+el.coach.name+' '+el.coach.surname+'</p>';
        ans+='</div>';
        return ans;
    }

    function getTimetable(t){
        var is_coach= (document.getElementById("is_coach")!=null);
        var url = '/get_schedule_by_day_of_week_with_trener';
        if(is_coach)
            url = '/get_schedule_by_day_of_week_by_trener';

        var $container = $('#info_container');
        document.getElementById('info_container').innerHTML='';

        var data={
            day_of_week: t
        };


        $.ajax({
            type: 'get',
            url: url,
            dataType: 'json',
            data: data,

            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function (response) {

                response.forEach(function (el) {
                    $container.append(formTableRow(el, is_coach));
                });

            },
            error: function (err) {
                console.log(err);
            }
        });


    }
    $(function () {
        getTimetable("MONDAY");
    })
</script>



</body>
