.header{
    margin-bottom: 15px;
}
.col1{
    float: left;
    width: 35%;
    margin-left: 5%;
}
.col2{
    float: left;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.info_container{
    margin-left: 5%;
}

.my-group-main{
    margin-left: 40px;
}
.my-group-main, .my-group-main-2{
    margin-bottom: 0px;
    margin-top: 0px;
}
 .my-group-main-2{
    margin-left: -10px;
}

 .group_training{
     margin-top: 15px;
     margin-left: 10px;
 }

 .form_btn{
     display: block;
     margin-top: 15px;
 }

 .form_btn_first{
     display: inline-block;
     margin-right: 10px;
     margin-bottom: 10px;
 }

 .abonement{
     margin-bottom: 10px;
 }

 .abonement_field{
     display: block;
 }

 textarea{
     resize: none;
     height: 50px;
 }

 p{
     margin-top: 10px;
 }
 input{
     margin-top: -40px;
 }

@media screen and (max-width: 700px) {

    .my-group-main-2{
        margin-left: 40px;
        margin-top: -5px;
    }

    .col1, .col2 {
        width: 95%;
        margin-right: 5%;
    }
}