<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

<div class="info_container">

    <form id="form">
        <h2>Book personal training</h2>
        <p>Coach : </p>
        <select id='select_coach' name='select_coach'>
            <div th:each="el: ${coaches}">
                <option th:value="${el.id}" th:text="${el.name} +' ' + ${el.surname}"></option>
            </div>
        </select>
        <p>Date : </p>
        <input type="date" placeholder="Date" name="date">
        <p>Time : </p>
        <input type="time" placeholder="Time" name="time">
        <button class="form_btn btn btn-success" type="submit">Book</button>

    </form>
</div>


<script>
    $(function () {


        $('#form').submit(function (e) {
            e.preventDefault();

            var date =  $(this).find('[name=date]').val();
            var time =  $(this).find('[name=time]').val();
            var date_time = date+'T'+time+':00';

            // console.log(date_time);
            var current = (new Date ((new Date((new Date(new Date())).toISOString() )).getTime() - ((new Date()).getTimezoneOffset()*60000))).toISOString().slice(0, 19);
            // console.log( current );
            if(current>date_time)
                alert("Date and time must be less than current date and time");
            else{
                date_time += '.0000';

                var data = {
                    coach: $(this).find('[name=select_coach]').val()
                    , scheduleDate: date_time
                };

                $.ajax({
                    type: 'POST',
                    url: '/add_schedule_ind',
                    dataType: 'json',
                    data: JSON.stringify(data),

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Content-Type', 'application/json')
                    },
                    success: function (response) {
                        alert("Success");
                        document.getElementById('form').reset();
                    },
                    error: function (request, textStatus, errorThrown) {
                        alert(request.getResponseHeader('error'));
                    }
                });

            }

        });

    });
</script>


</body>
