<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

<div class="info_container">
    <form id="form">
        <h2>Change login or password</h2>
        <p>Login : </p>
        <input type="text" placeholder="Login" name="login" th:text="${user.login}">
        <p>Name : </p>
        <input type="text" placeholder="Name" name="name" th:text="${user.name}">
        <p>Surname : </p>
        <input type="text" placeholder="Surname" name="surname" th:text="${user.surname}">
        <p>Password (leave the field blank if you don't want to change it) : </p>
        <input type="password" placeholder="Password" name="password">
        <button class="form_btn btn btn-success" type="submit">Change</button>
    </form>
</div>


<script>

    $(function() {

        $('#form').submit(function(e) {
            e.preventDefault();

            var password = $(this).find('[name=password]').val();

            var data = {
                login: $(this).find('[name=login]').val(),
                name: $(this).find('[name=name]').val(),
                surname: $(this).find('[name=surname]').val()
            };
            if(password!='') data["password"] = password;

            $.ajax({
                type: 'POST',
                url: '/change_user_info',
                dataType: 'json',
                data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    alert("Success");
                },
                error: function (request, textStatus, errorThrown) {
                    alert(request.getResponseHeader('error'));
                }
            });
        });


    });


</script>


</body>
</html>

