<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

<div th:if="${#authorization.expression('hasAuthority(''CLIENT'')')}" class="col1" style="width:40%">
    <h2>Your abonements :</h2>
    <div class="abonement" th:each="el: ${abonements}">
        <i class="abonement_field" th:if="${el.type.vip}">VIP</i>
        <i class="abonement_field" th:text="'Abonement number: '+${el.id}"></i>
        <i class="abonement_field" th:text="'Price: '+${el.price}"></i>
        <i class="abonement_field" th:text="'Type: '+${el.type.name}"></i>
        <i class="abonement_field" th:text="'Complex: '+${el.complex.name}"></i>
    </div>

</div>

<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="col1" style="width:40%">
    <h2 th:text="'Number of coaches in this complex : '+${coaches_num}"></h2>
</div>

<div th:if="${#authorization.expression('hasAuthority(''OWNER'')')}" class="col1" style="width:40%">
    <h2 th:text="'Number of complexes : '+${complexes_num}"></h2>
</div>

<div class="col2" style="width: 45%" th:if="${#authorization.expression('isAuthenticated()')}">
    <button class="form_btn btn btn-warning" type="submit" onclick="window.location.replace('/change_user_info');">Change user info</button>

    <br>
    <form id="form_coach" th:if="${#authorization.expression('hasAuthority(''CLIENT'')')}">
        <h2>Enter special code to become the coach/admin</h2>
        <input id="code" type="text" placeholder="Code" name="code">
        <button class="form_btn btn btn-success" type="submit">Submit</button>
    </form>

</div>


<script>

    $(function () {



        $('#form_coach').submit(function (e) {
            e.preventDefault();

            var data = {
                code: $(this).find('[name=code]').val()
            };
            $.ajax({
                type: 'POST',
                url: '/send_code',
                dataType: 'json',
                data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    alert("Success");
                    window.location.href = "/login";
                },
                error: function (request, textStatus, errorThrown) {
                    alert(request.getResponseHeader('error'));
                }
            });
        });

    });
</script>

</body>
