<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

<div class="info_container" id="info_container">
    <div class="group_training" th:each="el: ${trainings}">
        <h3 th:text="${el.schedule_date.substring(0, 10)}+' '+${el.schedule_date.substring(11,16)}"></h3>
        <h2 th:text="${el.name}"></h2>
        <p th:text="'Coach: ' + ${el.coach.name}+' '+ ${el.coach.surname}"></p>
        <button class="form_btn btn btn-danger remove_button" type="submit" value="${el.id}">Remove</button>
    </div>

</div>



<script>

    $(function () {

            $(document).on("click",".remove_button",function(e) {
                // var rowNum = e.target.parentNode.parentNode.rowIndex;
                // e.preventDefault();

                //get id - get parent


                var data = {
                    id : $(this).val()
                };

                $.ajax({
                    url: '/remove_',
                    type: "post",
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        //remove parent
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Content-Type', 'application/json')
                    },
                    error: function (request, textStatus, errorThrown) {
                        alert(request.getResponseHeader('error'));
                    }
                });

            });

    });

    // function formTableRow(el){
    //     var date = el.schedule_date.substring(0, 10);
    //     var time = el.schedule_date.substring(11, 16);
    //
    //     return '<div class="group_training">' +
    //         '<h3>'+date+' '+time+'</h3>' +
    //         '<h2>'+el.name+'</h2>' +
    //         '<p>Coach: '+el.coach.name+' '+el.coach.surname+'</p>' +
    //         '<button class="form_btn btn btn-danger remove_button" type="submit">Remove</button>' +
    //         '</div>';
    // }


    //
    // function getTimetable(t){
    //
    //     var $container = $('#info_container');
    //     document.getElementById('info_container').innerHTML='';
    //
    //     var data={
    //         day_of_week: t
    //     };
    //
    //     $.ajax({
    //         type: 'get',
    //         url: '/get_schedule_by_day_of_week_with_trener',
    //         dataType: 'json',
    //         data: data,
    //
    //         beforeSend: function (xhr) {
    //             xhr.setRequestHeader('Content-Type', 'application/json')
    //         },
    //         success: function (response) {
    //
    //             response.forEach(function (el) {
    //                 $container.append(formTableRow(el));
    //             });
    //
    //         },
    //         error: function (err) {
    //             console.log(err);
    //         }
    //     });
    //
    //
    // }

</script>



</body>
