<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SportClub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class = "header" th:insert="~{fragments/header :: head}"></div>

<div class="info_container" id="info_container">
    <h2>My trainings</h2>

    <div>
        <input type="checkbox" onclick="showOld()">
        <label>Show happened trainings</label>
    </div>

    <div id="old" style="display:none;">
        <div class="group_training" th:each="el: ${old_trainings}">
            <h3 th:text="${#dates.format(el.scheduleDate, 'dd-MM-yyyy HH:mm')}"></h3>
            <p th:text="'Coach: ' + ${el.coach.name}+' '+ ${el.coach.surname}"></p>
            <button class="form_btn btn btn-danger remove_button" type="submit" th:value="${el.id}">Remove</button>
        </div>
    </div>

    <div class="group_training" th:each="el: ${trainings}">
        <h3 th:text="${#dates.format(el.scheduleDate, 'dd-MM-yyyy HH:mm')}"></h3>
        <p th:text="'Coach: ' + ${el.coach.name}+' '+ ${el.coach.surname}"></p>
        <button class="form_btn btn btn-danger remove_button" type="submit" th:value="${el.id}">Remove</button>
    </div>

</div>



<script>

    var isShowing=-1;

    function showOld(){
        if(isShowing==-1)
            document.getElementById('old').style.display='block';
        else
            document.getElementById('old').style.display='none';
        isShowing*=-1;
    }

    $(function () {




            $(document).on("click",".remove_button",function(e) {
                var id = e.target.value;
                var data = {
                    id : id
                };
                $.ajax({
                    url: '/remove_schedule_ind',
                    type: "post",
                    dataType: 'json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        e.target.parentNode.remove();

                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Content-Type', 'application/json')
                    },
                    error: function (request, textStatus, errorThrown) {
                        alert(request.getResponseHeader('error'));
                    }
                });

            });

    });

    // function formTableRow(el){
    //     var date = el.schedule_date.substring(0, 10);
    //     var time = el.schedule_date.substring(11, 16);
    //
    //     return '<div class="group_training">' +
    //         '<h3>'+date+' '+time+'</h3>' +
    //         '<h2>'+el.name+'</h2>' +
    //         '<p>Coach: '+el.coach.name+' '+el.coach.surname+'</p>' +
    //         '<button class="form_btn btn btn-danger remove_button" type="submit">Remove</button>' +
    //         '</div>';
    // }


    //
    // function getTimetable(t){
    //
    //     var $container = $('#info_container');
    //     document.getElementById('info_container').innerHTML='';
    //
    //     var data={
    //         day_of_week: t
    //     };
    //
    //     $.ajax({
    //         type: 'get',
    //         url: '/get_schedule_by_day_of_week_with_trener',
    //         dataType: 'json',
    //         data: data,
    //
    //         beforeSend: function (xhr) {
    //             xhr.setRequestHeader('Content-Type', 'application/json')
    //         },
    //         success: function (response) {
    //
    //             response.forEach(function (el) {
    //                 $container.append(formTableRow(el));
    //             });
    //
    //         },
    //         error: function (err) {
    //             console.log(err);
    //         }
    //     });
    //
    //
    // }

</script>



</body>
